*, *:before:, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  color: #000000;
}

h1 {
  font-family: sans-serif;
  font-size: 150%;
  margin: 20px;
  padding-left: 50px;
  text-transform: uppercase;
}

.preview h1 {
  font-family: serif;
  font-size: 200%;
  padding-top: 20px;
  padding-left: 0px;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.preview {
  height: 200px;
  width: 98%;
  margin-bottom: 1%;
  margin-left: 20px;
}

@media screen and (min-width: 575px) {
  .preview {
    width: 48%;
    margin-bottom: 1%;
  }
}

@media screen and (min-width: 991px) {
  .preview {
    width: 23%;
    margin-bottom: 1%
  }
}
