*, *:before:, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  color: #000000;
}

h1 {
  font-family: sans-serif;
  font-size: 150%;
  padding: 10%;
  text-transform: uppercase;
  text-align: center;
}

.preview h1 {
  font-family: serif;
  font-size: 200%;
  padding-top: 10%;
  padding-left: 10%;
  text-align: left;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.london {
  background-image: url("../images/london.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.preview {
  height: 200px;
  width: 98%;
  margin: 1%;
  display: inline-block;
  padding: inherit;
}

@media screen and (min-width: 575px){
  .preview {
    width: 35%;
    margin: 1%;
  }
}

@media screen and (min-width: 991px){
  .preview {
    width: 15%;
    margin: 1%
  }
}
